section.home-banner
	.banner-slide
		.item
			.img
				img(src="img/bn.jpg", alt="")
				.caption-wrap
					.container
						.caption
							h1.big Lorem ipsum dolor sit 
								br
								|amet consectetur adipisicing.
							h3.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eum ad molestiae quas iure fugit nobis expedita dolores soluta quisquam.
							.bn-action
								a.bt-primary(href="#!") Học thử
								a.bt-outline(href="#!") Làm kiếm tra ngay
		.item
			.img
				img(src="img/bn.jpg", alt="")
		.item
			.img
				img(src="img/bn.jpg", alt="")
		.item
			.img
				img(src="img/bn.jpg", alt="")
		.item
			.img
				img(src="img/bn.jpg", alt="")