section.breadcrumb-wrap.clearfix 
	.br-img
		img(src="img/bn3.jpg", alt="")
		.container
			h3.page-name 
	.container
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Khóa học
			li
				a(href="#!") Khóa học chính