footer
	.footer-top
		.container
			.row
				.col-12.col-lg-3
					.footer-col
						.footer-about
							.sitelogo
								a(href="#!")
									img(src="img/logo.png", alt="")
							.content
								p Học trên trình duyệt: 
									br
									a(href="#!") 
										strong https://engo.learning.re/
								p Học trên ứng dụng di động:
									br
									strong LEARN ENGLISH NOW
				.col-12.col-md-4.col-lg-3
					.footer-col
						.footer-title Giới thiệu
						.footer-link
							ul
								li
									a(href="") Các khóa học chính
								li
									a(href="") Các khóa học bổ trợ
								li
									a(href="") Bài kiểm tra trình độ
								li
									a(href="") Phương pháp
								li
									a(href="") Brochure

				.col-12.col-md-4.col-lg-3
					.footer-col
						.footer-title Khóa học
						.footer-link
							ul
								li
									a(href="") Các khóa học chính
								li
									a(href="") Các khóa học bổ trợ
								li
									a(href="") Bài kiểm tra trình độ
								li
									a(href="") Phương pháp
								li
									a(href="") Brochure
				.col-12.col-md-4.col-lg-3
					.footer-col
						.footer-title Kết nối với chúng tôi
						.content
							p
								a(href="tel: ") 1900 5555 24
							p
								a(href="#!") 093 7777 000
							p
								a(href="#!") info@engo.edu.vn
						.bct
							img(src="img/bct.png", alt="")
	.container
		.footer-bottom
			.footer-wrap
				.copyright © Công ty TNHH Tư Vấn Việt Nam (VCG) – Mã số doanh nghiệp: 0302130735, ngày cấp: 24/10/2000, nơi cấp: Sở Kế Hoạch Đầu Tư Thành phố Hồ Chí Minh.
					br
					|Địa chỉ liên hệ: Tòa nhà VCG, 207 Hoàng Văn Thụ, Phường 8, Quận Phú Nhuận, Thành phố Hồ Chí Minh, Việt Nam.
				.social
					a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
					a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
					a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
						//- .footer-link
						//- 	ul
						//- 		li
						//- 			a(href="#!") Tuyển nhà phân phối
						//- 		li
						//- 			a(href="#!") Hệ thông phân phối
						//- 		li
						//- 			a(href="#!") Liên hệ