include ../_layout/breadcrumb

section.about-page
	.container 
		.content 
			p.text-xl 
				strong Giáo dục
			.partner-list 
				.row 
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/6-min-1-300x300.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/5-min-1-300x300.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/1-min-1.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
			p.text-xl 
				strong Doanh nghiệp
			.partner-list 
				.row 
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/6-min-1-300x300.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/5-min-1-300x300.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/1-min-1.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
			p.text-xl 
				strong Chính phủ
			.partner-list 
				.row 
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/6-min-1-300x300.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/5-min-1-300x300.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
					.col-12.col-md-4
						.partner-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/1-min-1.jpg", alt="")
							.caption 
								//- .name Matthew Barnard
								.des Hệ thống trường học, trung tâm ngoại ngữ với hơn 150 các trường đại học-cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)