include ../_layout/breadcrumb

section.about-page
	.container 
		.content 
			p 
				em ENGO là thương hiệu độc quyền tại Việt nam từ Reallyenglish (www.reallyenglish.com)
			p.text-xl 
				strong Education and Content
			.staff-list 
				.row 
					.col-12.col-md-4
						.staff-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/matthew-min-286x300.png", alt="")
							.caption 
								.name Matthew Barnard
								.des One way or another I have been involved in education all my life – I guess it’s where I feel most comfortable. I get to work with people I like and respect. I can influence the way we teach and be part of a really creative process and every now and then I manage to inspire people.
					.col-12.col-md-4
						.staff-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/matthew-min-286x300.png", alt="")
							.caption 
								.name Matthew Barnard
								.des One way or another I have been involved in education all my life – I guess it’s where I feel most comfortable. I get to work with people I like and respect. I can influence the way we teach and be part of a really creative process and every now and then I manage to inspire people.
					.col-12.col-md-4
						.staff-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/matthew-min-286x300.png", alt="")
							.caption 
								.name Matthew Barnard
								.des One way or another I have been involved in education all my life – I guess it’s where I feel most comfortable. I get to work with people I like and respect. I can influence the way we teach and be part of a really creative process and every now and then I manage to inspire people.
			p.text-xl 
				strong Software development
			.staff-list 
				.row 
					.col-12.col-md-4
						.staff-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/matthew-min-286x300.png", alt="")
							.caption 
								.name Matthew Barnard
								.des One way or another I have been involved in education all my life – I guess it’s where I feel most comfortable. I get to work with people I like and respect. I can influence the way we teach and be part of a really creative process and every now and then I manage to inspire people.
					.col-12.col-md-4
						.staff-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/matthew-min-286x300.png", alt="")
							.caption 
								.name Matthew Barnard
								.des One way or another I have been involved in education all my life – I guess it’s where I feel most comfortable. I get to work with people I like and respect. I can influence the way we teach and be part of a really creative process and every now and then I manage to inspire people.
					.col-12.col-md-4
						.staff-item 
							.img
								img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/matthew-min-286x300.png", alt="")
							.caption 
								.name Matthew Barnard
								.des One way or another I have been involved in education all my life – I guess it’s where I feel most comfortable. I get to work with people I like and respect. I can influence the way we teach and be part of a really creative process and every now and then I manage to inspire people.Product Design & UX