include ../_layout/breadcrumb

section.about-page
	.container 
		.content 
			p.text-xl.text-center Trở thành trung tâm giảng dạy tiếng Anh trực tuyến tiêu chuẩn đầu tiên và hàng đầu tại Việt Nam và khu vực Đông Nam Á.
			.row 
				.col-12.col-md-4 
					.text-center 
						img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/AdobeStock_240122435-min-1024x683.jpeg", alt="")
						p Cung cấp dịch vụ dạy trực tuyến và trực tiếp
				.col-12.col-md-4 
					.text-center 
						img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/ThinkstockPhotos-912420454-min-1024x683.jpg", alt="")
						p Cung cấp gia sư dạy trực tuyến và trực tiếp với chương trình của ENGO
				.col-12.col-md-4 
					.text-center 
						img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/ThinkstockPhotos-618541286-min-1024x683.jpg", alt="")
						p Cung cấp giải pháp giảng dạy tiếng Anh trực tuyến cho trường đại học, trung học trung tâm ngoại ngữ, doanh nghiệp và các tổ chức khác
			p Tại ENGO, chúng tôi tin rằng sự tự tin giao tiếng bằng tiếng Anh chính là chìa khóa thành công trong thời đại 4.0, mở ra cánh cửa cho giáo dục, tăng cơ hội việc làm, tiếp cận văn hóa, thúc đẩy thương mại, phá vỡ các rào cản xã hội, xoa dịu xung đột và cho phép truyền thông toàn cầu.
			p Tại ENGO, chúng tôi đầu tư thời gian, năng lượng và tài nguyên với mong muốn mang đến một phương thức học tiếng Anh giàu tính tương tác, linh hoạt và thú vị, dựa trên sức mạnh của công nghệ mới. Chúng tôi xác định rằng sứ mệnh của mình chính là giúp mọi người đều có cơ hội học tiếng Anh và cung cấp một giải pháp kỹ thuật số tự học dễ dàng với mức giá mà mọi người đều có thể tiếp cận.
			p Tuy nhiên, chúng tôi cũng nhận ra rằng đối với một số người, cơ hội học tiếng Anh vẫn có thể nằm ngoài tầm với. Chúng tôi làm việc với các tổ chức từ thiện trên toàn thế giới để cung cấp các giải pháp với mức chiết khấu cao hoặc miễn phí để giúp mọi người đều có cơ hội học tiếng Anh.
			p Hãy cùng chúng tôi khám phá hành trình xây dựng giá trị của mình vào hành động và tạo sự khác biệt tại trang này nhé.
			.text-xxl.text-uppercase.text-center 
				strong ENGO – CHÌA KHÓA MỞ MỌI CÁNH CỬA CƠ HỘI & THĂNG TIẾN