include ../_layout/breadcrumb

section.about-page
	.container 
		.content 
			.row.align-items-center
				.col-12.col-md-8
					p.text-xl.text-uppercase
						strong Về ENGO(*)
					p.text-uppercase ENGO – CHƯƠNG TRÌNH HỌC TIẾNG ANH TRỰC TUYẾN VƯỢT TRỘI TỪ ANH QUỐC
						br
						|HỌC TIẾNG ANH CHƯA BAO GIỜ HIỆU QUẢ & DỄ DÀNG HƠN
					p 
						em (*) ENGO thuộc chủ quản của Vietnam Consulting Group (VCG), là đơn vị được ủy nhiệm khai thác Và phân phối độc quyền nền tảng Reallyenglish tại Vietnam.
				.col-12.col-md-4
					.text-center 
						img(src="https://www.engo.edu.vn/wp-content/uploads/2021/01/pexels-pixabay-461049-300x243.jpg", alt="")
			p Ra đời năm 2002 từ nền tảng ReallyEnglish tại Anh Quốc, chương trình được nghiên cứu, xây dựng và cập nhật liên tục trong suốt 18 năm qua từ đội ngũ hùng hậu gồm các chuyên gia, giáo viên, giảng viên giàu kinh nghiệm sư phạm, chuyên trách về soạn thảo nội dung giáo trình; các lập trình viên chuyên nghiệp, tận dụng thế mạnh của công nghệ trí tuệ nhân tạo để tạo nên chương trình tiếng Anh trực tuyến ENGO vượt trội và thực sự khác biệt, hướng đến hiệu quả nhanh, học viên chỉ cần ít nhất 3 tháng đã có thể tự tin giao tiếp bằng tiếng Anh.
			p Chương trình giàu tính tương tác, linh hoạt, tạo hứng thú cho người học, ứng dụng công nghệ AI vào thực hành phát âm chuẩn; cải thiện đọc, nghe, nói, ngữ pháp qua các chủ đề tinh lọc, bài tập đa dạng, cuối mỗi bài học đều phần kiểm tra; cuối mỗi khóa học có bài kiểm tra theo chuẩn TOIEC.
			.about-title-wrap
				.about-title Thành tựu
			.row 
				.col-12.col-md-4 
					.text-center 
						p <i class="fa fa-university text-xxl" aria-hidden="true"></i>
						p Chương trình đã được triển khai thành công tại hơn 22 quốc gia trên thế giới.
				.col-12.col-md-4 
					.text-center 
						p <i class="fa fa-trophy text-xxl" aria-hidden="true"></i>
						p Tỷ lệ hoàn thành khóa học tại các trường đại học lên đến trên 95%.
				.col-12.col-md-4 
					.text-center 
						<i class="fa fa-star text-xxl" aria-hidden="true"></i>
						p Được đề cử 2 giải ELTons và các giải thưởng về E-learning (2012, 2014)
			.about-title-wrap
				.about-title Dự án phối hợp
			.row 
				.col-12.col-md-4 
					.text-center 
						p <i class="fa fa-graduation-cap text-xxl" aria-hidden="true"></i>
						p Nhà xuất bản Đại học Cambridge: Phát triển khóa học “Speaking – 3 cấp độ” hỗ trợ chương trình “Let’s Talk”.
				.col-12.col-md-4 
					.text-center 
						p <i class="fa fa-sticky-note-o text-xxl" aria-hidden="true"></i>
						p Tổ chức Giáo dục Pearson: Xây dựng khóa học “Reading Fluency” dựa trên nội dung các bài báo đăng trên tạp chí Financial Times.
				.col-12.col-md-4 
					.text-center 
						p <i class="fa fa-building-o text-xxl" aria-hidden="true"></i>
						p Hội Đồng Anh: Xây dựng những khóa ôn tập luyện thi cho kỳ thi “Academic IELTS Reading and Listening”.
			.row.align-items-center
				.col-12.col-md-8 
					p 
						em “Tôi xác nhận Hội Đồng Anh đã đăng ký thành công cho hơn 5,000 học viên tại 10 quốc gia trải nghiệm học tập trên nền tảng này trong suốt 3 năm qua và chương trình cũng đã được đội ngũ của chúng tôi trân trọng đón nhận.”
					.text-right
						p Michael Bibby
							br
							|English Global Product Manager, British Council
				.col-12.col-md-4 
					.text-center 
						img(src="https://www.engo.edu.vn/wp-content/uploads/2020/08/7-min-1-300x300.jpg", alt="")
			.row.align-items-center
				.col-12.col-md-8 
					p.text-xl
						strong Về VCG
					p Thành lập từ năm 2000, chuyên về dịch vụ tư vấn tái cấu trúc doanh nghiệp và thuê ngoài, VCG là đồng sáng lập và là thành viên của các câu lạc bộ và hiệp hội kinh tế lớn, bao gồm Hiệp hội Du lịch Đồng bằng sông Cửu Long, Hội Tư vấn Khoa học, Công nghệ & Quản lý Tp. HCM (HASCON), CLB Saigon Times, CLB SME Networking, CLB Doanh Nhân Công Giáo và CLB Fulbright. Đặc biệt, với cương vị là đồng sáng lập và là thành viên Ban Giám đốc HASCON, VCG hướng đến mục tiêu trở thành một trong những công ty tư vấn quản lý chuyên nghiệp hàng đầu cả nước.
				.col-12.col-md-4 
					.text-center 
						img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/logo-VCG-1-1-min-300x187.png", alt="")
			p Hợp tác với các đối tác, chuyên viên tư vấn và các cộng tác viên là những người đã tốt nghiệp từ các học viện lớn trên thế giới, các cựu lãnh đạo cấp cao của các công ty đa quốc gia, các cựu lãnh đạo thành phố, ngay khi vừa thành lập, VCG đã nhanh chóng trở thành một trong các doanh nghiệp cung cấp dịch vụ tư vấn, quản lý trọng yếu cho các công ty đa quốc gia, các công ty nhà nước lớn hoạt động trong lãnh vực công nghiệp, các học viện quốc tế và chính quyền địa phương.
			p Trong lĩnh vực thuê ngoài, VCG là đối tác phát triển thị trường thẻ và thanh toán thẻ (POS) độc quyền cho Vietcombank từ 2003 đến nay, hiện đang dẫn đầu thị trường thanh toán thẻ trong suốt 17 năm liên tiếp.
			p Trong lĩnh vực xuất bản, VCG đã đóng góp Chương Việt Nam trong Cẩm nang Thị trường và Các nền kinh tế Châu Á (ME Sharpe, Nhà xuất bản New York) và cho xuất bản bộ sách “HƯƠNG VỊ MIỀN TÂY”, giới thiệu đặc sản, văn hoá ẩm thực của vùng Đồng bằng sông Cửu Long.
			p Trong lĩnh vực giáo dục, VCG đã nghiên cứu và đưa vào giảng dạy bộ môn tiếp thị địa phương (marketing places) và bộ môn khoa học thần kinh (neuroscience) tại Đại học Fulbright Vietnam; chương trình LED, Tiếp thị địa phương theo đề án Harvard / Fulbright Economic Teaching Program (GTZ/VCCI). Ngày 22/07/2020 VCG thành lập TT Phát triển Giáo dục và Đào tạo Anh ngữ ENGO, thương hiệu độc quyền phân phối và phát triển nền tảng Reallyenglish tại Việt Nam.