include ../_layout/breadcrumb

section.news-page
	.container
		.home-title Tin tức nổi bật
		.news-list
			.row
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm