include ../_layout/breadcrumb

section.news-page
	.container
		.content 
			h1.text-xl.text-uppercase 
				strong HỘI THẢO : HỌC TIẾNG ANH TRONG THỜI ĐẠI “DIGITAL” – SAY YES ĐỂ BỨT PHÁ
			img.w-100(src="https://www.engo.edu.vn/wp-content/uploads/2020/11/banner-google-.png", alt="")
			p Cơ hội để quý phụ huynh và các bạn tham gia buổi hội thảo cùng diễn giả: Ông Peter Lambert, Giám đốc khu vực Á Châu.
			p Ngoài ra, tại sự kiện bạn sẽ được chia sẻ về phương pháp học ưu việt, giải đáp thắc mắc về khó khăn trong việc học ngoại ngữ và trải nghiệm nền tảng học tiếng Anh trực tuyến hàng đầu từ Anh Quốc.
			p – Thời gian: Thứ 7 (28/11/2020) | 15:00 – 17:00
				br
				|-Địa điểm: VCG BUILDING – 207 Hoàng Văn Thụ, Phường 8, Quận Phú Nhuận, TP.HCM
				br
				|– Số lượng: 30 người (limited)
				br
				|– Miễn phí tham gia
				br
				|ĐĂNG KÝ NGAY ĐỂ NHẬN NHIỀU PHẦN QUÀ HẤP DẪN TỪ ENGO
				br
				a(href="#!") https://bitly.com.vn/gzwg9k

			p Tham gia chơi game tại WORKSHOP – nhận quà quá đã.
				br
				|Kiểm tra trình độ tiếng Anh miễn phí.
				br
				|Trải nghiệm thực tế nền tảng tiếng anh trực tuyến (ứng dụng trí tuệ nhân tạo AI) cùng ENGO.
				br
				|Ưu đãi giảm 30-50% giá trị khóa học.
			hr
			p Vui lòng xác nhận tham dự qua:
				br
				| 093.7777.000 (Hotline)
				br
				| support@engo.edu.vn
			img.w-100(src="https://www.engo.edu.vn/wp-content/uploads/2020/11/THU-MOI.png", alt="")
			p.text-center 
				strong ENGO – Nền tảng học Tiếng Anh trực tuyến vượt trội từ Anh Quốc.