include ../_layout/breadcrumb

section.course-page
	.container 
		.course-detail 
			.row 
				.col-12.col-md-6 
					.course-img 
						img(src="https://www.engo.edu.vn/wp-content/uploads/2020/09/Everyday-English-min-600x313.png", alt="")
				.col-12.col-md-6 
					.course-info 
						.course-name Everyday English A1 – C1
						.course-price 1,175,000₫ – 2,950,000₫
						.course-desc Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
						a.btn-contact(href="#!") Liên hệ
						//- .course-category Danh mục: 
						//- 	span.badge.bg-primary
				.col-12
					.course-full-description 
						ul.nav.nav-tabs#myTab(role='tablist')
							li.nav-item(role='presentation')
								a.nav-link.active#home-tab(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Mô tả
							li.nav-item(role='presentation')
								a.nav-link#profile-tab(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Bài học thử 1
							li.nav-item(role='presentation')
								a.nav-link#contact-tab(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Bài học thử 2
						.tab-content#myTabContent
							.tab-pane.fade.show.active#home(role='tabpanel' aria-labelledby='home-tab') 
								.content 
									h5 
										strong Mô tả
									p Đảm bảo tự tin giao tiếp tiếng Anh sau 3 tháng!
									p Hoàn thiện các kỹ năng phát âm chuẩn, nghe, đọc, viết, ngữ pháp sau 5 khóa học (tương đương TOEIC 850+).
									p Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, 1 khóa từ vựng và 1 khóa phát âm được xây dựng hướng đến hiệu quả cho người học, là chương trình hoàn hảo giúp học viên cải thiện các kỹ năng còn yếu, kể cả với những người mất căn bản; cung cấp kiến thức tiếng Anh từ căn bản đến nâng cao qua các chủ đề thường sử dụng trong cuộc sống hàng ngày, tạo sự tự tin và phản xạ tốt khi giao tiếp bằng tiếng Anh.
									.p-3.rounded.bg-light
										.row 
											.col-12.col-md-6 
												p 
													strong Cấp độ: CEFR (*) A1 – C1.
												p Thời lượng mỗi bài: 30 – 45 phút.
												p Nội dung chính: Kinh doanh, cuộc sống hàng ngày, vui chơi giải trí, con người và các mỗi quan hệ, thiên nhiên và môi trường, xã hội, du lịch và giao thông.
											.col-12.col-md-6 
												p 
													strong Số bài học:
												p 240 (48 bài/cấp độ); 1 bài kiểm tra cuối khóa theo chuẩn TOEIC.
												p Khóa học phát âm Pronunciation practice với 180 bài thực hành phát âm các từ và cụm từ trọng điểm, cải thiện độ chính xác tổng thể về ngữ điệu và các âm vị cụ thể. Tìm hiểu thêm về khóa học này tại: https://www.engo.edu.vn/san-pham/pronunciation-practice/
												p Khóa học từ vựng Wordmine 2 với với 6600 từ vựng tiếng Anh với các tình huống, chủ đề thường gặp trong cuộc sống. Tìm hiểu thêm về khóa học này tại: https://www.engo.edu.vn/san-pham/wordmine-2/
							.tab-pane.fade#profile(role='tabpanel' aria-labelledby='profile-tab') ...
							.tab-pane.fade#contact(role='tabpanel' aria-labelledby='contact-tab') ...
				.col-12 
					.course-relative 
						.home-title Khóa học tương tự
						.course-list 
							.row 
								.col-12.col-md-6.col-lg-3 
									.course-item 
										a.img(href="#!") 
											img(src="img/c1.png", alt="")
										.caption
											.name 
												a(href="#!") Everyday English A1 – C1
											.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
											a.btn-readmore(href="#!") Xem thêm
								.col-12.col-md-6.col-lg-3
									.course-item 
										a.img(href="#!") 
											img(src="img/c2.png", alt="")
										.caption
											.name 
												a(href="#!") Everyday English A1 – C1
											.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
											a.btn-readmore(href="#!") Xem thêm
								.col-12.col-md-6.col-lg-3
									.course-item 
										a.img(href="#!") 
											img(src="img/c3.png", alt="")
										.caption
											.name 
												a(href="#!") Everyday English A1 – C1
											.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
											a.btn-readmore(href="#!") Xem thêm
								.col-12.col-md-6.col-lg-3
									.course-item 
										a.img(href="#!") 
											img(src="img/c4.png", alt="")
										.caption
											.name 
												a(href="#!") Everyday English A1 – C1
											.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
											a.btn-readmore(href="#!") Xem thêm