include ../_layout/breadcrumb

section.course-page
	.container 
		.course-list 
			.row 
				.col-12.col-md-6.col-lg-4 
					.course-item 
						a.img(href="#!") 
							img(src="img/c1.png", alt="")
						.caption
							.name 
								a(href="#!") Everyday English A1 – C1
							.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4 
					.course-item 
						a.img(href="#!") 
							img(src="img/c2.png", alt="")
						.caption
							.name 
								a(href="#!") Everyday English A1 – C1
							.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4 
					.course-item 
						a.img(href="#!") 
							img(src="img/c3.png", alt="")
						.caption
							.name 
								a(href="#!") Everyday English A1 – C1
							.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4 
					.course-item 
						a.img(href="#!") 
							img(src="img/c4.png", alt="")
						.caption
							.name 
								a(href="#!") Everyday English A1 – C1
							.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4 
					.course-item 
						a.img(href="#!") 
							img(src="img/c5.png", alt="")
						.caption
							.name 
								a(href="#!") Everyday English A1 – C1
							.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4 
					.course-item 
						a.img(href="#!") 
							img(src="img/c6.png", alt="")
						.caption
							.name 
								a(href="#!") Everyday English A1 – C1
							.des Everyday English A1 – C1 bao gồm 5 khóa học tiếng Anh tổng quát, giúp học viên cải thiện các kỹ năng còn yếu, kể cả  những người mất căn bản.
							a.btn-readmore(href="#!") Xem thêm