include ../_layout/banner

section.home-course
	.container
		h3.home-title.text-center Các khóa học nổi bật
		.course-list
			.row
				.col-12.col-lg-3
					a.course(href="#!")
						.img
							img(src="img/c1.png", alt="")
						.caption
							.name Everyday English A1 – C1
				.col-12.col-lg-3
					a.course(href="#!")
						.img
							img(src="img/c2.png", alt="")
						.caption
							.name Everyday English A1 – C1
				.col-12.col-lg-3
					a.course(href="#!")
						.img
							img(src="img/c3.png", alt="")
						.caption
							.name Everyday English A1 – C1
				.col-12.col-lg-3
					a.course(href="#!")
						.img
							img(src="img/c4.png", alt="")
						.caption
							.name Everyday English A1 – C1

section.home-archive
	.bg(style="background: url(img/bn2.jpg) center center / cover no-repeat")
	.container
		.home-title.text-center.text-white Giải thưởng và thành tựu
		.content.text-white
			.row
				.col-12.col-md-4
					h2 
						strong 1. Toàn cầu
					h5 
						strong 28 quốc gia 
						|trên thế giới đang sử dụng và mang lại kết quả hơn mong đợi.
				.col-12.col-md-4
					h2 
						strong 2. Chất lượng
					h5 Trên 
						strong 95% 
						|tỉ lệ học viên hoàn thành khóa học và hơn 
						strong 100 
						|đại học tại 
						strong Nhật Bản 
						|đang sử dụng nền tảng này.
				.col-12.col-md-4
					h2 
						strong 3. Giải thưởng
					h5 Được đề cử 
						strong 2 giải ELTons 
						|và các giải thưởng về E - learning năm 2012, năm 2014.

section.home-customer
	.container
		.home-title.text-center Khách hàng
		.group-list
			.row
				.col-12.col-md-4
					a.group(href="#!")
						.img
							img(src="img/g1.jpg", alt="")
						.caption
							.name
								<i class="fa fa-flag" aria-hidden="true"></i>
								span Giáo dục
							.des Hệ thống trường học, trung tâm ngoại ngữ, 150 trường đại học – cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
				.col-12.col-md-4
					a.group(href="#!")
						.img
							img(src="img/g2.jpg", alt="")
						.caption
							.name
								<i class="fa fa-building" aria-hidden="true"></i>
								span Doanh nghiệp
							.des Hệ thống trường học, trung tâm ngoại ngữ, 150 trường đại học – cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)
				.col-12.col-md-4
					a.group(href="#!")
						.img
							img(src="img/g3.jpg", alt="")
						.caption
							.name
								<i class="fa fa-university" aria-hidden="true"></i>
								span Chính phủ
							.des Hệ thống trường học, trung tâm ngoại ngữ, 150 trường đại học – cao đẳng và trung tâm ngôn ngữ lớn (Berlitz, Apollo,…)

section.home-feedback
	.bg(style="background: url(img/bn3.jpg) center center / cover no-repeat")
	.container
		.home-title.text-center.text-white Cảm nhận của khách hàng
		.feedback-slide
			.item
				.content.text-center.text-white
					p "Tôi đang tham gia khóa luyện thi TOEIC® trên nền tảng. Tôi rất vui vì tôi có thể học các kỹ năng ngữ pháp, đọc và nghe. Khóa học này cung cấp cho tôi kết quả bằng điểm của mỗi bài học và điều này giúp tôi tìm ra điểm yếu mà mình cần cải thiện."
					p 
						strong Nishikawa - Giám đốc nhân sự Osatenshu
			.item
				.content.text-center.text-white
					p "Tôi đang tham gia khóa luyện thi TOEIC® trên nền tảng. Tôi rất vui vì tôi có thể học các kỹ năng ngữ pháp, đọc và nghe. Khóa học này cung cấp cho tôi kết quả bằng điểm của mỗi bài học và điều này giúp tôi tìm ra điểm yếu mà mình cần cải thiện."
					p 
						strong Nishikawa - Giám đốc nhân sự Osatenshu
			.item
				.content.text-center.text-white
					p "Tôi đang tham gia khóa luyện thi TOEIC® trên nền tảng. Tôi rất vui vì tôi có thể học các kỹ năng ngữ pháp, đọc và nghe. Khóa học này cung cấp cho tôi kết quả bằng điểm của mỗi bài học và điều này giúp tôi tìm ra điểm yếu mà mình cần cải thiện."
					p 
						strong Nishikawa - Giám đốc nhân sự Osatenshu
			.item
				.content.text-center.text-white
					p "Tôi đang tham gia khóa luyện thi TOEIC® trên nền tảng. Tôi rất vui vì tôi có thể học các kỹ năng ngữ pháp, đọc và nghe. Khóa học này cung cấp cho tôi kết quả bằng điểm của mỗi bài học và điều này giúp tôi tìm ra điểm yếu mà mình cần cải thiện."
					p 
						strong Nishikawa - Giám đốc nhân sự Osatenshu
			.item
				.content.text-center.text-white
					p "Tôi đang tham gia khóa luyện thi TOEIC® trên nền tảng. Tôi rất vui vì tôi có thể học các kỹ năng ngữ pháp, đọc và nghe. Khóa học này cung cấp cho tôi kết quả bằng điểm của mỗi bài học và điều này giúp tôi tìm ra điểm yếu mà mình cần cải thiện."
					p 
						strong Nishikawa - Giám đốc nhân sự Osatenshu
section.home-partner
	.container
		.partner-slide
			.item
				a.partner(href="#!")
					img(src="img/pn1.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/pn2.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/pn3.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/pn4.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/pn5.png", alt="")

section.home-blog
	.container
		.home-title.text-center Tin tức nổi bật
		.news-list
			.row
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
				.col-12.col-md-6.col-lg-4
					.news-item
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							a.name(href="#!") E – Learning trên thế giới và ảnh hưởng đến giáo dục Việt
							.des Từ những câu chuyện có thật. Vấn đề là động lực – đây là 10 yếu tố cần thiết để tạo động lực thúc đẩy cho những người không có động lực.
							a.btn-readmore(href="#!") Xem thêm
//- section.home-cate
//- 	.row.no-gutters.align-items-center
//- 		.col-12.col-md-6.col-lg-7
//- 			.block-img
//- 				img(src="img/hc1.jpg", alt="")
//- 		.col-12.col-md-6.col-lg-5
//- 			.block-content
//- 				h3.home-title Thực phẩm
//- 				.content
//- 					p Hương thơm tự nhiên và đầy đủ chất dinh dưỡng tốt cho sức khỏe, ko chứa gluten, không biến đổi gen, không chất bảo quản.
//- 					p Người bạn đồng hành tuyệt vời cho hành trình chăm sóc gia đình qua từng bữa ăn thơm ngon mà vẫn tốt cho sức khỏe.
//- 				.ct-action
//- 					a.bt-primary(href="#!") Xem tất cả
					
//- section.home-cate
//- 	.row.no-gutters.align-items-center
//- 		.col-12.col-md-6.col-lg-5
//- 			.block-content
//- 				h3.home-title Nước giải khát
//- 				.content
//- 					p Đảm bảo nguồn nguyên liệu dừa tươi nguyên chất không biến đuổi gen, không sử dụng chất bảo quản. Giữ lại tối đa hương vị và giá trị dinh dưỡng sản phẩm. 
//- 					p Tốt cho sức khỏe, hỗ trợ hệ miễn dịch, giảm huyết áp, giúp tim mạch hoạt động khỏe mạnh.
//- 				.ct-action
//- 					a.bt-primary(href="#!") Xem tất cả
//- 		.col-12.col-md-6.col-lg-7
//- 			.block-img
//- 				img(src="img/hc2.jpg", alt="")


//- section.home-cate
//- 	.row.no-gutters.align-items-center
//- 		.col-12.col-md-6.col-lg-7
//- 			.block-img
//- 				img(src="img/hc3.jpg", alt="")
//- 		.col-12.col-md-6.col-lg-5
//- 			.block-content
//- 				h3.home-title Mỹ phẩm
//- 				.content
//- 					p Được sản xuất từ những trái dừa già (10-12 tháng) qua chọn lọc cẩn thận, có chất lượng ổn định. Hương thơm dịu nhẹ tự nhiên từ dừa
//- 					p Làm đẹp mi, môi, móng và dưỡng da tay, chân, dưỡng da và chống lão hóa, chăm sóc tóc bóng mượt, massage thư giãn và chăm sóc cơ thể.
//- 				.ct-action
//- 					a.bt-primary(href="#!") Xem tất cả
					
//- section.home-cate
//- 	.row.no-gutters.align-items-center
//- 		.col-12.col-md-6.col-lg-5
//- 			.block-content
//- 				h3.home-title sản phẩm khác
//- 				.content
//- 					p DÙng làm nguyên liệu để sản xuất các ứng dụng trong công nghiệp hóa chất, xà phòng, nhiêu liệu sinh học hay chất tẩy rửa...
//- 					p Ngoài ra  còn là nguyên liệu được dùng làm thức ăn cho các loài gia súc, gia cầm, thủy cầm.
//- 				.ct-action
//- 					a.bt-primary(href="#!") Xem tất cả
//- 		.col-12.col-md-6.col-lg-7
//- 			.block-img
//- 				img(src="img/hc4.jpg", alt="")

//- section.home-sale
//- 	.container-fluid
//- 		.row.align-items-center
//- 			.col-12.col-lg-5
//- 				.block-img
//- 					img(src="img/hs.png", alt="")
//- 			.col-12.col-lg-7
//- 				.block-content
//- 					.title Truy cập website bán hàng online hoặc đến các hệ thống phân phối của Lương Quới
//- 					.s-title để lựa chọn những sản phẩm tinh túy nhất.
//- 					.btn-actions
//- 						a.bt-primary(href="#!") MUA HÀNG ONLINE
//- 						a.bt-primary(href="#!") MUA HÀNG TRỰC TIẾP

//- section.home-special
//- 	.bg(style="background: url(img/bg2.jpg) center center no-repeat")
//- 	.container
//- 		.home-title.text-center.text-white Điểm khác biệt của chúng tôi
//- 		.block-content
//- 			.content.text-center.text-white
//- 				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//- 		.features
//- 			.row
//- 				.col-12.col-md-3
//- 					.feature
//- 						.img
//- 							img(src="img/ft1.png", alt="")
//- 						.caption
//- 							.number
//- 								strong 6.879
//- 								span tỷ
//- 							.desc Sản lượng sản phẩm
//- 				.col-12.col-md-3
//- 					.feature
//- 						.img
//- 							img(src="img/ft1.png", alt="")
//- 						.caption
//- 							.number
//- 								strong 17
//- 								span năm
//- 							.desc Sản lượng sản phẩm
//- 				.col-12.col-md-3
//- 					.feature
//- 						.img
//- 							img(src="img/ft1.png", alt="")
//- 						.caption
//- 							.number Diện tích
//- 							.desc nhà máy
//- 				.col-12.col-md-3
//- 					.feature
//- 						.img
//- 							img(src="img/ft1.png", alt="")
//- 						.caption
//- 							.number Số quốc gia
//- 							.desc đã xuất khẩu đến

//- section.home-news
//- 	.container
//- 		.home-title.text-center Tin tức & Sự kiện
//- 		.news-list
//- 			.row
//- 				.col-12.col-lg-6
//- 					.news.big
//- 						a.img(href="#!")
//- 							img(src="img/hn1.jpg", alt="")
//- 						.caption
//- 							time 30 tháng 4, 2019
//- 							.name
//- 								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
//- 							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
//- 							a.link(href="#!") Xem chi tiết
//- 				.col-12.col-lg-6
//- 					.row
//- 						.col-12.col-lg-6
//- 							.news
//- 								a.img(href="#!")
//- 									img(src="img/hn1.jpg", alt="")
//- 								.caption
//- 									time 30 tháng 4, 2019
//- 									.name
//- 										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
//- 						.col-12.col-lg-6
//- 							.news
//- 								a.img(href="#!")
//- 									img(src="img/hn1.jpg", alt="")
//- 								.caption
//- 									time 30 tháng 4, 2019
//- 									.name
//- 										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
//- 						.col-12.col-lg-6
//- 							.news
//- 								a.img(href="#!")
//- 									img(src="img/hn1.jpg", alt="")
//- 								.caption
//- 									time 30 tháng 4, 2019
//- 									.name
//- 										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
//- 						.col-12.col-lg-6
//- 							.news
//- 								a.img(href="#!")
//- 									img(src="img/hn1.jpg", alt="")
//- 								.caption
//- 									time 30 tháng 4, 2019
//- 									.name
//- 										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.

//- section.home-brand
//- 	.bg(style="background: url(img/bg3.jpg) center center;background-size: 100% 100%")
//- 	.container
//- 		.home-title.text-center.text-white Thương hiệu của chúng tôi
//- 		.block-content
//- 			.content.text-center.text-white
//- 				p Sản phẩm của chúng tôi có thể được tìm thấy trên toàn thế giới. Công ty TNHH Chế Biến Dừa Lương Quới là 1 trong những nhà sản xuất thực phẩm và đồ uống hàng đầu Việt Nam với danh mục sản phẩm khổng lồ. Thành công và sự nổi tiếng của các thương hiệu hiện nay của chúng tôi đã thúc đẩy chúng tôi đặt mục tiêu mang lại hơn 50 triệu đôla doanh số bán lẻ hàng năm. 
//- 		.brands
//- 			.brand
//- 				img(src="img/logo.png", alt="")
//- 			.brand
//- 				img(src="img/logo.png", alt="")
//- 			.brand
//- 				img(src="img/logo.png", alt="")

//- section.home-cert
//- 	.container
//- 		.home-title.text-center Chứng nhận chất lượng quốc tế
//- 		.cert-slide
//- 			.item
//- 				.cert
//- 					img(src="img/cert1.png", alt="")
//- 			.item
//- 				.cert
//- 					img(src="img/cert1.png", alt="")
//- 			.item
//- 				.cert
//- 					img(src="img/cert1.png", alt="")
//- 			.item
//- 				.cert
//- 					img(src="img/cert1.png", alt="")
//- 			.item
//- 				.cert
//- 					img(src="img/cert1.png", alt="")
//- 			.item
//- 				.cert
//- 					img(src="img/cert1.png", alt="")

//- section.home-career
//- 	.container
//- 		.row
//- 			.col-12.col-md-6
//- 				.home-title Cơ hội nghề nghiệp
//- 				.content
//- 					p Lương Quới luôn chào đón và tạo các điều kiện tốt, đảm bảo chế độ tốt cho các ứng viên có hoài bão, yêu thích được làm việc trong một môi trường năng động và đầy thử thách ở Lương Quới.
//- 				.btn-wrap
//- 					a.bt-primary(href="#!") Ứng tuyển ngay
//- 			.col-12.col-md-6
//- 				.block-img
//- 					img.w-100(src="img/job.jpg", alt="")

//- .showchat <i class="fa fa-comments-o" aria-hidden="true"></i> Liên hệ
//- .chatbox
//- 	.title <i class="fa fa-comments-o" aria-hidden="true"></i> Hỗ trợ trực tuyến
//- 		.minimize <i class="fa fa-window-minimize" aria-hidden="true"></i>
//- 	.chatlist
//- 		ul
//- 			li
//- 				a.item(href="#!")
//- 					.img
//- 						img(src="img/bn.jpg", alt="")
//- 					.caption
//- 						.name Admin
//- 						.des admin@luongquoi.vn
//- 			li
//- 				a.item(href="#!")
//- 					.img
//- 						img(src="img/bn.jpg", alt="")
//- 					.caption
//- 						.name Admin
//- 						.des admin@luongquoi.vn
//- 			li
//- 				a.item(href="#!")
//- 					.img
//- 						img(src="img/bn.jpg", alt="")
//- 					.caption
//- 						.name Admin
//- 						.des admin@luongquoi.vn

