//- include ../_layout/breadcrumb

section.test-page 
	.container 
		.home-title.text-center Bài kiểm tra
			.sub Thời gian kiểm tra: 15 phút
		.content 
			p Thông qua bài kiểm tra ngắn với 21 câu hỏi được thực hiện trong 15 phút, ENGO sẽ giúp bạn kiểm tra trình độ và kỹ năng tiếng Anh của bản thân. Dựa vào số câu trả lời đúng, bạn được sắp xếp vào trình độ tương ứng từ A1 - C1.
			p Hãy kiểm tra trình độ tiếng Anh của bản thân thông qua bài kiểm tra ngắn ngay nào!
		.form-wrap.test-form
			.form-input
				label(for="") Họ tên
				input(type="text" placeholder="")
			.form-input
				label(for="") Email
				input(type="text" placeholder="")
			.form-input
				label(for="") Số điện thoại
				input(type="text" placeholder="")
			.btn-wrap
				input(type="submit", value="Tiếp tục")